@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
	.c-block{
		h1{
			@apply text-2xl font-bold text-center
		}
		h2{
			@apply text-xl font-semibold
		}
		a {
			font-weight: 500;
			color: #646cff;
			text-decoration: inherit;
		}
		@apply mx-2 my-1 border rounded-2xl p-2 flex flex-col gap-2 shadow mb-4
	}
	.c-line{
		@apply border rounded
	}

	a.link{
		@apply text-green-500 underline cursor-pointer hover:no-underline
	}
	a.hover-link{
		@apply hover:text-green-500 hover:underline cursor-pointer
	}

	.list-move,
	.list-enter-active,
	.list-leave-active {
		transition: all 0.5s ease;
	}

	.list-enter-from,
	.list-leave-to {
		opacity: 0;
		transform: translateX(30px);
	}
}